<!-- 
@file display.launch
@brief Displays THOR in RViz
@author Frederick Wachter - wachterfreddy@gmail.com
@date Created: 2018-04-20
-->

<launch>

  <!--
    Arguments
  -->
  <arg name="robot_name" default="thor"/> <!-- by default, set the robot name to thor -->
  <arg name="solo" default="false"/> <!-- by default, running with either the on-line or off-line sim -->
  <arg name="vel_control" default="true"/> <!-- by default, load velocity controllers for joints -->
  <arg name="static_tf" default="false"/> <!-- by default, don't output a static transform between odom and map frames -->

  <arg name="rviz" default="true"/> <!-- by default, load RViz -->
  <arg name="rviz_file" default="thor"/> <!-- by default, load thor RViz file -->

  <arg name="run_joint_pub" default="true"/> <!-- By default, run the joint state publisher when in solo mode -->
  <arg name="use_gui" default="false"/> <!-- by default, don't load joint state publisher node -->

  <!--
    Run ROS Nodes
  -->
  <!-- If Running Without On-line or Off-line Sim -->
  <group if="$(arg solo)">
    <!-- Load Robot Description -->
    <include file="$(find thor_description)/launch/load_description.launch">
      <arg name="vel_control" value="$(arg vel_control)"/>
      <arg name="robot_name" value="$(arg robot_name)"/>
    </include>

    <!-- Run Joint State Publisher Node -->
    <node if="$(arg run_joint_pub)" name="$(arg robot_name)_joint_state_publisher" pkg="joint_state_publisher" 
        type="joint_state_publisher">
      <param name="use_gui" value="$(arg use_gui)"/>
      <remap from="robot_description" to="$(arg robot_name)/robot_description" />
      <remap from="joint_states" to="$(arg robot_name)/joint_states" />
    </node>

    <!-- Run Robot State Publisher -->
    <node name="$(arg robot_name)_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen">
      <remap from="robot_description" to="$(arg robot_name)/robot_description" />
      <remap from="joint_states" to="$(arg robot_name)/joint_states" />
    </node>
  </group>

  <group if="$(arg static_tf)">
    <node pkg="tf" type="static_transform_publisher" name="$(arg robot_name)_static_odom_broadcaster" 
        args="0 0 0 0 0 0 1 world $(arg robot_name)_odom 100" />
  </group>

  <!-- Load RViz -->
  <group if="$(arg rviz)">
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find thor_description)/config/$(arg rviz_file).rviz"/>
  </group>

</launch>


