<?xml version="1.0"?>

<!--
@file thor.xacro
@breif THOR robot xacro description
@author Frederick Wachter - wachterfreddy@gmail.com
@date Created: 2018-04-20
-->

<robot name="thor" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="thor" params="parent name *origin hardware_interface">

    <!--
      DUMMY JOINT DEFINITION
    -->
    <joint name="${parent}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="${name}_body" />
    </joint>

    <!--
      CHASSIS DEFINITION
    -->
    <link name="${name}_body">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="${chassis_mass}" />
        <inertia ixx="0.020" ixy="0" ixz="0.0005" iyy="0.017" iyz="0" izz="0.0335" />
      </inertial>
      <xacro:insert_block name="chassis_visual_collision" />
    </link>

    <!--
      LEFT WHEEL DEFINITION
    -->

    <xacro:wheel_joint joint_name="${name}_left_wheel_joint" parent="${name}_body" child="${name}_left_wheel" 
      x="0.09226" y="0.1598" theta="2.61799" hardware_interface="${hardware_interface}"/>

    <link name="${name}_left_wheel">
      <inertial>
        <xacro:insert_block name="wheel_inertial_properties" />
      </inertial>
      <xacro:insert_block name="wheel_visual_collision" />
    </link>

    <!--
      RIGHT WHEEL DEFINITION
    -->

    <xacro:wheel_joint joint_name="${name}_right_wheel_joint" parent="${name}_body" child="${name}_right_wheel" 
      x="0.09226" y="-0.1598" theta="0.523599" hardware_interface="${hardware_interface}"/>

    <link name="${name}_right_wheel">
      <inertial>
        <xacro:insert_block name="wheel_inertial_properties" />
      </inertial>
      <xacro:insert_block name="wheel_visual_collision" />
    </link>

    <!--
      TAIL WHEEL DEFINITION
    -->

    <xacro:wheel_joint joint_name="${name}_tail_wheel_joint" parent="${name}_body" child="${name}_tail_wheel" 
      x="-0.18452" y="0" theta="4.71239" hardware_interface="${hardware_interface}"/>

    <link name="${name}_tail_wheel">
      <inertial>
        <xacro:insert_block name="wheel_inertial_properties" />
      </inertial>
      <xacro:insert_block name="wheel_visual_collision" />
    </link>

    <!--
      SENSORS
    -->
    <joint name="${name}_laser_joint" type="fixed">
      <origin xyz="0 0 0.11296" rpy="0 0 0" />
      <parent link="${name}_body" />
      <child link="${name}_laser" />
      <axis xyz="0 0 " />
    </joint>

    <link name="${name}_laser">
      <inertial> 
        <mass value="0.001" /> 
        <origin xyz="0 0 0" /> 
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" /> 
      </inertial> 
      <xacro:insert_block name="lidar_visual_collision" />
    </link>

    <joint name="${name}_imu_joint" type="fixed">
      <origin xyz="-0.07378 0.03088 0.04318" rpy="${pi} 0 -${pi/2}" />
      <parent link="${name}_body" />
      <child link="${name}_imu" />
      <axis xyz="0 0 " />
    </joint>

    <link name="${name}_imu">
      <inertial> 
        <mass value="0.001" /> 
        <origin xyz="0 0 0" /> 
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" /> 
      </inertial> 
      <!-- <xacro:insert_block name="imu_visual_collision" /> -->
    </link>

    <!-- <xacro:sick_tim551 name="${name}_laser" ros_topic="scan" height="0.0511"/> -->

  </xacro:macro>

</robot>


