<?xml version="1.0"?>

<!--
@file thor_gazebo.xacro
@breif THOR robot Gazebo xacro tags
@author Frederick Wachter - wachterfreddy@gmail.com
@date Created: 2018-04-20
-->

<robot name="thor" xmlns:xacro="http://ros.org/wiki/xacro">

  <!--
  ODOM CONTROLLER
  -->
  <gazebo>
    <plugin name="gazebo_ros_controller" filename="libgazebo_ros_control.so">
      <robotNamespace>/thor</robotNamespace>
    </plugin>

    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>50.0</updateRate>
      <bodyName>odom</bodyName>
      <topicName>odom</topicName>
      <gaussianNoise>0.01</gaussianNoise>
      <frameName>world</frameName>
      <xyzOffsets>0 0 0</xyzOffsets>
      <rpyOffsets>0 0 0</rpyOffsets>
    </plugin>
  </gazebo>

  <xacro:macro name="thor_sensors" params="name">

    <!--
    LIDAR
    -->
    <gazebo reference="${name}_laser">
      <sensor type="ray" name="${name}_laser">
        <always_on>true</always_on>
        <pose>0 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>15</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>810</samples>
              <resolution>1</resolution>
              <min_angle>-2.35619</min_angle>
              <max_angle>2.35619</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.10</min>
            <max>10.0</max>
            <resolution>0.01</resolution>
          </range>
          <noise>
            <type>gaussian</type>
             <mean>0.0</mean>
             <stddev>0.00667</stddev>
           </noise>
         </ray>
         <plugin name="gazebo_ros_head_hokuyo_controller" filename="libgazebo_ros_laser.so">
          <topicName>scan</topicName>
          <frameName>${name}_laser</frameName>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>


